asgiref==3.5.2
astroid==2.4.2
autopep8==1.5.4
colorama==0.4.3
dj-database-url==1.0.0
Django==4.0.6
django-appconf==1.0.4
django-filter==2.4.0
django-heroku==0.3.1
gunicorn==20.1.0
isort==5.5.4
lazy-object-proxy==1.4.3
libsass==0.21.0
mccabe==0.6.1
Pillow==9.2.0
psycopg2==2.9.3
pycodestyle==2.6.0
pylint==2.6.0
pytz==2020.1
rjsmin==1.1.0
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
tzdata==2022.1
whitenoise==6.2.0
wrapt==1.12.1
