{% extends 'store/main.html' %}
{% load static %}
{% block content %}  
<div class="container">
    <h2>{{categories.title}}</h2>
    <br><br>
    <div class="product">
        {% for product in products %}
        <div class="box-element card">
            <div class="img">
                <img src="{{product.imageURL}}" alt="Network Problem">
            </div>
            <button data-product={{product.id}} data-action="add" class="btn-success add-btn  update-cart">ADD TO CART</button>
            <div class="content">
                <h1>{{product.name}}</h1>
                <h3>{{product.size}}</h3>
                <span class="price">₹{{product.price|floatformat:2}}</span>   
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}