<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinaka-Fashion Hub</title>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/main.css' %}">
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</head>
<body>

    <!---------------- navigation menu ------------------------>
    <div>
        <p id="cart-total">4</p>
        <nav class="navigation">
            <div class="heading">
                <a href="{% url 'store' %}">Pinaka <footer><cite><small><small>The Fashion Hub</small></small></cite></footer> </a>
                <div>
                    <ul class="nav-menu">
                        <li><a href="{% url 'store' %}">Store</a></li>
                        <li><a href="project.html">Categories</a></li>
                        <li><a href="product.html">Products</a></li>
                        <li><a href="{% url 'cart' %}"><ion-icon name="cart-outline"></ion-icon>Cart</a></li>
                        <button type="button" class="btn btn-outline-dark">Login</button>
                    </ul> 
                </div>
            </div>  
         </nav>
    </div>  
    
    <div class="container">
        {% block content %}

        {% endblock content %}
    </div>
</body>
</html>