{% extends 'store/main.html' %}
{% load static %}
{% block content %}  
<main>
    <div class="conatiner-fluid">
        <div class="slider">
            <div class="slider-one">
                <div>
                    <img src="{% static 'images/web1.png'%}" alt="placeholder">
                </div>
                <div>
                    <img src="{% static 'images/web2.png'%}" alt="placeholder">
                </div>
                <div>
                    <img src="{% static 'images/web3.png'%}" alt="placeholder">
                </div>
                <div>
                    <img src="{% static 'images/web4.png'%}" alt="placeholder">
                </div>
            </div>
            <div class="slider-btn">
                <span class="prev position-top"><i class="fad fa-angle-left fa-1x"></i></span>
                <span class="next position-top right-0"><i class="fad fa-angle-right fa-1x"></i></span>
            </div>
        </div>
    </div>
</main>
<br>
<div class="categories">
    <h2>Categories</a></h2>
    <div class="menu">
        {% for category in categories %}
        <div class='menuitem {{category.size}}'>
            <div class='background-images' style="background-image: url('{{category.imageURL}}');"></div>
            <div class='item-content'>
                <div class='title'>{{category.title}}</div>
                <span class='subtitle'><a href="category/?category={{category.id}}">SHOP NOW</a></span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>  
<br>
<div class="container">
    <h2>Bestseller</h2>
    <div class="product">
        {% for product in products %}
        <div class="box-element card">
            <div class="img">
                <img src="{{product.imageURL}}" alt="Network Problem">
            </div>
            <button data-product={{product.id}} data-action="add" class="btn-success add-btn  update-cart">ADD TO CART</button>
            <div class="content">
                <h1>{{product.name}}</h1>
                <h3>{{product.size}}</h3>
                <span class="price">₹{{product.price|floatformat:2}}</span>   
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}