{% extends 'store/main.html' %}
{% load static %}
{% block content %}  
    <!-- <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{product.image.url}}">
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right">${{product.price|floatformat:2}}</h4>
            </div>
        </div>
        {% endfor %}

    </div> -->
    
<div class="product">
    {% for product in products %}
    <div class="box-element card">
        <div class="img">
            <button data-product={{product.id}} data-action="add"  class="btn btn-outline add-btn  update-cart" id="cart-btn" >add to cart</button>
            <img src="{{product.imageURL}}" alt="Network Problem">
            
        </div>
        <div class="content">
            <h1>{{product.name}}</h1>
            <span class="price">₹{{product.price|floatformat:2}}</span>
        </div>
    </div>
    {% endfor %}
</div>



<!-- <div class="product">
    
    <div class="box-element card">
        <div class="img">
            <img src="{% static 'images/black-shearling.png'%}" alt="Network Problem">
        </div>
        <div class="content">
            <h1>shrit</h1>
            <span class="price">₹{{product.price|floatformat:2}}</span>
        </div>
    </div>
   
</div> -->

{% endblock content %}
    



