@font-face {
    font-family: Starbeamer;
    src: url('../fonts/Starbeamer.ttf');
}
@font-face {
    font-family: GreatestShow;
    src: url('../fonts/GreatestShowRegular.ttf');
}
@font-face {
    font-family: Demure;
    src: url('../fonts/Demure.ttf');
}
