@import url('../css/font.css');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: "Helvetica";
}
/*------------------- Global --------------------------------*/
a, a:hover{
    color: black;
    text-decoration: none;
}
ion-icon {
   font-size: 20px;
   padding-right: 6px;
}

/*-------------------Navigation Menu --------------------------------*/
  
/* -------------search box------------------ */

.search-box{
    position: relative;
    top: 35px;
    left: -10px;
    transform: translate(0,-100%);
    height:35px;
    background:rgba(255, 255, 255, 0);
    /* background: darkgrey; */
    border-radius:3px;
    padding:10px;   
}
 .input_box{
    height: 25px;
    background: none;
    border: none;
    outline:none;
    float:left;
    padding-right: 2px;
    color:black;
    font-size: 16px;
    transition: 0.4s all;
    line-height: 2px;
    width:0px;
    }
#search-btn{
    right:0px;
    padding-right:2px;
}
.search-btn{
    top: -7px;
    color: #2a71f5;
    float: right;
    width: 35px;
    height: 32px;
    justify-content: center;
    line-height: 42px;
    /* width: fit-content; */
    text-align: center;
    border-radius: 50%;
}
.search-box:hover .input_box{
    background-color:rgba(255, 255, 255, 0);
    width: 240px;
    padding:0px,0px;
}
.search-box:hover .search-btn{
    background-color: rgba(255, 255, 255, 0);
}

/*------x-x-x-------Search-box --------x-x-x----------*/
.main{
    display: block;
    height: 120vh;
    width: 100%;
}
.navigation{
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 0.8rem 6rem;
    height: 9vh;
    overflow: hidden;
}
.heading{
    display: block;
    font-family: "Demure";
    font-size: 1.3rem;
    letter-spacing: 3px;
}
.heading h1{
    font-size: 1.8rem;
    margin-block-end: 0em;
    font-weight: bold;
}
.heading p{
    font-size: 0.7rem;
    letter-spacing: 4.5px;
    margin-block-start: 0em;
    font-weight: lighter;
}
.navigation .nav-menu{
    margin: 0;
    display: flex;
    list-style-type: none;
    font-family: "Demure";

}
.navigation .nav-menu a{
    padding: 0rem 1.2rem;
    font-size: 1.1rem;
    position: relative;
    font-weight: bold;
}
#cart-total{
    display: block;
    position: absolute;
    color: red;
    font-size: 14px;
    font-weight: bold;
    top:0.2rem;
    left:1240px;
    
    
}

/* logout-login start*/
.hello-msg{
    font-size: 18px;
    color:black;
    margin-right:20px;


}
.user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #74cfbf;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.form_container {
    margin-top: 20px;
}

#form-title{
    color: #fff;
    
}


#logout_btn{
    width:150%;
    height:150%;
    background-color: #bd081c;
    
}
.login_btn {
    width: 100%;
    background:rgb(20, 85, 20) !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #f7ba5b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

#messages{
    background-color: grey;
    color: black;
    padding: 10px;
    margin-top: 10px;
}
/*--------x-x-x---------Navigation Menu ----------x-x-x---------------*/

/*--------------------------- Store ----------------------------------*/

.product{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    box-sizing: border-box;
    grid-gap: 30px ;
    justify-items: center;
    width: 100%;
}
.product .card{
    position: relative;
    display: flex;
    width: 351px;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    padding: 0px;
}
.product .card .img{
    position: relative;
    width: 320px;
    height: 440px;
    top: 10px;
    left: 15px;
}
.product .card .img img{
    position: relative;
    width: 100%;
    height: 420px;
    border-radius: 4px;
}
.img .btn{
    z-index: 1;
    position: absolute;
    top: 22rem;
    left: 100px;
    line-height: 20px;
    margin-block-end: 0em;
    display: none;
}
.card .img:hover img{
    opacity: 30%;
}
.card .img:hover .btn{
    display: block;
    animation-name: popup;
    animation-duration: 1s;
}

.content{
    display: inline-flex;
    position: relative;
    padding: 8px;
    align-items: flex-start;
    justify-content: space-between;
}
.content h1, .content .price{
    font-size: 1.6rem;
} 
.box-element{
    box-shadow:hsl(0, 0%, 80%) 0 0 16px;
    border-radius: 4px;
    background-color: #fff;
    padding: 10px;
}
@keyframes popup {
    0%   {top: 25rem; left: 100px;}
    /* 25%  {top: 25rem; left: 100px;}
    50%  {left:200px; top:100px;}
    75%  {left:0px; top:100px;} */
    100% {top: 22rem; left: 100px;}
  }

/*--------x-x-x-------------- Store ----------------x-x-x---------------*/

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}
.product{
	border-radius: 0 0 4px 4px;
}
.cart-row{
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec ;

}
.row-image{
    width: 100px;
}
.quantity{
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;

}
.chg-quantity{
    width: 12px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition: 1s;
}
.form-field{
    width: 250px;
    display:inline-block;
    padding: 5px;
}
.hidden{
    display: none!important;
}

/*-----x------x-----x---------- Store ----------x---------x------x-------*/

footer{
    background: #f1f1f1;
    padding: 90px 0;
  }
.footer{
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}
.social-media{
    margin: 20px 0;
}
.social-media a{
    color: #001a21;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
}
.social-media a:hover{
    color: #2a71f5;
}
.right-col h1{
    font-family: "Demure";
    font-weight: bold;
    font-size: 26px;
}
.right-col p{
    margin-block-start: 1em;
}
.border{
    width: 100px;
    height: 4px;
    background: #2a71f5;
}
.newsletter-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.txtb{
    flex: 1;
    padding: 15px 35px;
    font-size: 16px;
    color: #293043;
    background: #ddd;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 25px;
    min-width: 260px;
}
.button{
    padding: 15px 35px;
    font-size: 16px;
    color: white;
    background: #2a71f5;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 25px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity .3s linear;
}
.button:hover{
    opacity: .7;
}
.page-content{
    min-height: 100vh;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*--------x-x-x-------------- footer ----------------x-x-x---------------*/

@media screen and (max-width:960px) {
    .footer-container{
      max-width: 600px;
    }
    .right-col{
      width: 100%;
      margin-bottom: 60px;
    }
    .left-col{
      width: 100%;
      text-align: center;
    }
  }
@media(max-width: 768px){
    .navigation .nav-menu{
        display: none;
    }
    .button{
        margin: 0;
        width: 100%;
        margin-top: 20px;
    }
}


