@import url('../css/font.css');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: "Helvetica";
}
/*------------------- Global --------------------------------*/
a{
    text-decoration: none;
    color: black;
}
ion-icon {
   font-size: 20px;
   padding-right: 6px;
}

/*-------------------Navigation Menu --------------------------------*/
  
/* -------------search box------------------ */

.search-box{
    position: relative;
    top: 45px;
    left: -10px;
    transform: translate(0,-100%);
    height:40px;
    background:white;
    /* background: darkgrey; */
    border-radius:40px;
    padding:10px;   
}


 .input_box{
    height: 25px;
    background: none;
    border: none;
    outline:none;
    float:left;
    padding-right: 2px;
    color:black;
    font-size: 16px;
    transition: 0.4s all;
    line-height: 2px;
    width:0px;
    }


#search-btn{
    right:0px;
    padding-right:2px;
}


.search-btn{
    top: -7px;
    color: #81dde4;
    float: right;
    width: 35px;
    height: 35px;
    justify-content: center;
    line-height: 42px;
    /* width: fit-content; */
    text-align: center;
    border-radius: 50%;
}


.search-box:hover .input_box{
    background-color:white;
    width: 240px;
    padding:0px,0px;
}


.search-box:hover .search-btn{
    background-color: white;
}


/* xxxxxxx------------search-box-----------xxxxxxx */


.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.8rem;
    padding: 0.8rem 6rem;
    min-height: 2vh;
    overflow: hidden;
}
.navigation .heading{
    display: block;
    font-family: "Demure";
    font-size: 1.3rem;
    letter-spacing: 3px;
    overflow: hidden;
    margin-block-end: 0em;
    font-weight: bolder;
    
}
.heading p{
    font-size: 0.7rem;
    font-weight: bold;
    letter-spacing: 5px;
    margin-block-start: 0.2em;
    
}
.navigation .nav-menu{
    margin: 0;
    display: flex;
    list-style-type: none;
    font-family: "Demure";
    
    
}
.navigation .nav-menu a{
    padding: 0rem 1.2rem;
    font-size: 1.1rem;
    position: relative;
}
#cart-total{
    display: block;
    position: absolute;
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin: 0.3rem 82rem;
}

/*--------x-x-x---------Navigation Menu ----------x-x-x---------------*/


.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}
.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}
.product{
	border-radius: 0 0 4px 4px;
}
.cart-row{
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec ;

}
.row-image{
    width: 100px;
}
.quantity{
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;

}
.chg-quantity{
    width: 12px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition: 1s;
}
.form-field{
    width: 250px;
    display:inline-block;
    padding: 5px;
}
.hidden{
    display: none!important;
}




@media(max-width: 768px){
    .navigation .nav-menu{
        display: none;
    }
}

.topnav {
    background-color: rgba(189, 224, 186, 0.568);
    overflow: hidden;
    height: 9.5%;
}