/*--------------------------- carousel ----------------------------------*/

.slider{
    position: relative;
  }
.position-top{
    position: absolute;
    top: 50%;
}
.slider .slider-btn .prev, .slider .slider-btn .next {
    background-color: azure;
    padding: 1rem 1.5rem;
    border-radius: 10rem;
    margin: 0rem 1rem;
    opacity: 1;
    cursor: pointer;
    transition: opacity 1s ease;
}
.slider-btn:hover .prev,.slider-btn:hover .next{
    opacity: 0.7;
} 
.right-0{
    right: 0;
}
.slick-dots{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0rem;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    right: 50%;
}
.slick-dots li{
    margin: 0rem 0.6rem;
}
.slick-dots button{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    padding: 0;
    border: none;
    background-color: white;
    text-indent: -99999px;
    border-radius: 100%;
}
.slick-dots li.slick-active button{
    transform: scale(2.5);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.205);
}
/*--------x-x-x------------- carousel ----------------x-x-x--------------*/

/*--------------------------- categories ----------------------------------*/

.categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;
}
.menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menuitem {
    min-width: 30%;
    height: 280px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 7.5px 15px;
    overflow: hidden;
}
.menuitem :hover{
    cursor: pointer;
}
.menuitem:hover .background-images{
    transform: scale(1.1);
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
.menu .large{
    height: 380px;
}
.menuitem .background-images{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.menuitem:first-child{
    margin-right: 7.5px;
}
.menuitem:last-child{
    margin-left: 7.5px;
}
.item-content{
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    opacity: 0.8;
    position: absolute;
}
.item-content:hover {
    opacity: 1;
}
.item-content .title{
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 22px;
    color: #4a4a4a;
}
.item-content .subtitle{
    font-weight: lighter;
    font-size: 16px;
}

/*--------x-x-x------------- categories ----------------x-x-x--------------*/

/*--------------------------- Store ----------------------------------*/

.product{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    box-sizing: border-box;
    grid-gap: 30px ;
    justify-items: center;
    width: 100%;
    border-radius: 0 0 4px 4px;
}
.product .card{
    display: flex;
    flex-direction: column;
    width: 350px;
}
.product .card .img{
    position: relative;
    background-size: cover;
    background-position: center;
}
.product .card .img img{
    width: 100%;
    height: 420px;
}
.product .card .add-btn{
    display: none;
    opacity: 0.85;
    position: absolute;
    width: 150px;
    height: 50px;
    font-size: larger;
    font-weight: bold;
    background-color: white;
    color: black;
    left: 100px;
    top: 350px;
    border-color: black;
}

.card:hover .img{
    opacity: 0.8;
}
.card:hover .add-btn{
    opacity: 0.85;
    display: block;
}
.add-btn:hover {
    background-color: black;
    color: white;
}

.content{
    display: inline-flex;
    position: relative;
    padding: 8px;
    align-items: flex-start;
    justify-content: space-between;
}
.content h1, .content .price{
    font-size: 1.6rem;
} 
.box-element{
    box-shadow:hsl(0, 0%, 80%) 0 0 16px;
    border-radius: 4px;
    background-color: #fff;
    padding: 10px;
}
.product .card .size {
    display: flex;
    width: 35px;
    height: 35px;
    font-family: ubuntu;
    font-size: larger;
    font-weight: bold;
    background-color: rgb(202, 188, 188);
    color: black;
    /* border: solid black; */
    border-radius: 50%;
    right: 10px;
    bottom: 1px;
    position: absolute;
    justify-content: center;
    /* align-self: center; */
    align-items: center;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0);
}
/*--------x-x-x------------- Store ----------------x-x-x--------------*/