/*--------------------------- carousel ----------------------------------*/

.slider{
    position: relative;
  }
.position-top{
    position: absolute;
    top: 50%;
}
.slider .slider-btn .prev, .slider .slider-btn .next {
    background-color: azure;
    padding: 1rem 1.5rem;
    border-radius: 10rem;
    margin: 0rem 1rem;
    opacity: 1;
    transition: opacity 1s ease;
}
.slider:hover .slider-btn .prev, .slider:hover .slider-btn .next{
    opacity: 1;
} 
.right-0{
    right: 0;
}

.slick-dots{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0rem;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    right: 50%;
}
.slick-dots li{
    margin: 0rem 0.6rem;
}
.slick-dots button{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    padding: 0;
    border: none;
    background-color: white;
    text-indent: -99999px;
    border-radius: 100%;
}
.slick-dots li.slick-active button{
    transform: scale(2.5);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.205);
}
/*--------------------------- categories ----------------------------------*/

.categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;
}
.menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menuitem {
    min-width: 30%;
    height: 280px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 7.5px 15px;
    overflow: hidden;
}
.menuitem :hover{
    cursor: pointer;
}
.menuitem:hover .background-images{
    transform: scale(1.1);
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
.menu .large{
    height: 380px;
}
.menuitem .background-images{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.menuitem:first-child{
    margin-right: 7.5px;
}
.menuitem:last-child{
    margin-left: 7.5px;
}
.item-content{
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    opacity: 0.7;
    position: absolute;
}
.item-content:hover {
    opacity: 1;
}
.item-content .title{
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 22px;
    color: #4a4a4a;
}
.item-content .subtitle{
    font-weight: lighter;
    font-size: 16px;
}
/*--------------------------- Store ----------------------------------*/

.product{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    box-sizing: border-box;
    grid-gap: 30px ;
    justify-items: center;
    width: 100%;
    border-radius: 0 0 4px 4px;
}
.product .card{
    position: relative;
    display: flex;
    width: 351px;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    padding: 0px;
}
.product .card .img{
    position: relative;
    width: 320px;
    height: 440px;
    top: 10px;
    left: 15px;
}
.product .card .img img{
    position: relative;
    width: 100%;
    height: 420px;
    border-radius: 4px;
}
.img .btn{
    z-index: 1;
    position: absolute;
    top: 22rem;
    left: 100px;
    line-height: 20px;
    margin-block-end: 0em;
    display: none;
}
.card .img:hover img{
    opacity: 30%;
}
.card .img:hover .btn{
    display: block;
    animation-name: popup;
    animation-duration: 1s;
}
.content{
    display: inline-flex;
    position: relative;
    padding: 8px;
    align-items: flex-start;
    justify-content: space-between;
}
.content h1, .content .price{
    font-size: 1.6rem;
} 
.box-element{
    box-shadow:hsl(0, 0%, 80%) 0 0 16px;
    border-radius: 4px;
    background-color: #fff;
    padding: 10px;
}
@keyframes popup {
    0%   {top: 25rem; left: 100px;}
    /* 25%  {top: 25rem; left: 100px;}
    50%  {left:200px; top:100px;}
    75%  {left:0px; top:100px;} */
    100% {top: 22rem; left: 100px;}
  }

/*--------x-x-x-------------- Store ----------------x-x-x---------------*/