/* carousel */
.slider{
    position: relative;
  }
.position-top{
    position: absolute;
    top: 50%;
}
.slider .slider-btn .prev, .slider .slider-btn .next {
    background-color: azure;
    padding: 1rem 1.5rem;
    border-radius: 10rem;
    margin: 0rem 1rem;
    opacity: 1;
    transition: opacity 1s ease;
}
.slider:hover .slider-btn .prev, .slider:hover .slider-btn .next{
    opacity: 1;
} 
.right-0{
    right: 0;
}

.slick-dots{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0rem;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    right: 50%;
}
.slick-dots li{
    margin: 0rem 0.6rem;
}
.slick-dots button{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    padding: 0;
    border: none;
    background-color: white;
    text-indent: -99999px;
    border-radius: 100%;
}
.slick-dots li.slick-active button{
    transform: scale(2.5);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.205);
}

/* menu-items */
.categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;
}
.menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menuitem {
    min-width: 30%;
    height: 280px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 7.5px 15px;
    overflow: hidden;
}
.menuitem :hover{
    cursor: pointer;
}
.menuitem:hover .background-images{
    transform: scale(1.1);
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
.menu .large{
    height: 380px;
}
.menuitem .background-images{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.menuitem:first-child{
    margin-right: 7.5px;
}
.menuitem:last-child{
    margin-left: 7.5px;
}
.item-content{
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    opacity: 0.5;
    position: absolute;
}
.item-content:hover {
    opacity: 1;
}
.item-content .title{
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 22px;
    color: #4a4a4a;
}
.item-content .subtitle{
    font-weight: lighter;
    font-size: 16px;
}